<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Consumables path="C:\Users\Matthew\Documents\Test\Assets\Scripts\GameObjects\SharedResources\Consumables.xml"/>
  <Armors path="C:\Users\Matthew\Documents\Test\Assets\Scripts\GameObjects\SharedResources\Armors.xml"/>
  <Weapons path="C:\Users\Matthew\Documents\Test\Assets\Scripts\GameObjects\SharedResources\Weapons.xml"/>
  <Dialog path="C:\Users\Matthew\Documents\Test\Assets\Scripts\GameObjects\SharedResources\Dialog"/>
</Settings>